.button {
  position: relative;
  border: none;
  background: none;
  height: 35px;
  width: 35px;
}

.button:hover,
.button:active {
  background: #dce3ed;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.button img {
  width: 19px;
}

.button .button__alt {
  visibility: hidden;
  width: 35px;;
  background-color: black;
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -70%;
  left: -5%;
}

.button:hover .button__alt {
  visibility: visible;
  opacity: 0;
  animation: showElement 0.1s ease-in 1s forwards;
  
}

/* .button .button__alt div {
  padding: 10px;
} */

@keyframes showElement {
  to {
      opacity: 0.6;
  }
}
