.image-upload__list {
	position: relative;
	display: flex;
	width: 100%;
	overflow: hidden;
}

.image-upload__arrowleft {
	position: absolute;
	width: 43px;
	height: 43px;
	top: 45%;
	left: 2%;
	font-size: 1.5rem;
	font-weight: 700;
	color: white;
	border-radius: 50%;
	border: none;
	opacity: 0.65;
	background-color: black;
	z-index: 1;
}

.image-upload__arrowleft:hover {
	opacity: 0.55;
}

.image-upload__preview {
	position: relative;
	min-width: 50%;
	text-align: center;
	/* align-self: flex-start; */
}

.image-upload__preview img {
	width: 95%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}


.image-upload__edit {
	position: absolute;
	width: 52px;
	height: 33px;
	top: 1%;
	left: 4%;
	font-size: 0.8rem;
	font-weight: 700;
	color: white;
	border-radius: 20px;
	border: none;
	opacity: 0.65;
	background-color: black;
}

.image-upload__edit:hover {
	opacity: 0.55;
}


.image-upload__cancel {
	position: absolute;
	width: 33px;
	height: 33px;
	top: 1%;
	right: 4%;
	font-size: 1rem;
	font-weight: 700;
	color: white;
	border-radius: 50%;
	border: none;
	opacity: 0.65;
	background-color: black;
}

.image-upload__cancel:hover {
	opacity: 0.55;
}