.rightcol__wrapper {
  margin-left: 30px;
}

.basement {
  width: 310px;
  height: 300px;
  margin-left: 30px;
}

/* scrolling up */
.rightcol__container {
  position: sticky;
  top: 0;
  /* margin-bottom: auto; */
  border: none;
  flex-shrink: 0;
  width: 310px;
  /* height: 100%; */
  margin-left: 30px;
}

/* scrolling down */
.rightcol__container-bottomfix {
  position: sticky;
  /* top: -555px; */
}

@media (max-width: 1030px) {
  .rightcol__container {
    width: 260px;
  }
}

@media (max-width: 990px) {
  .rightcol__container {
    display: none;
  }
}
