.rightcol__container {
  position: sticky;
  bottom: 0px;
  margin-top: auto;
  border: none;
  flex-shrink: 0;
  width: 310px;
  height: 130vh;
  margin-left: 30px;
}

@media (max-width: 1030px) {
  .rightcol__container {
    width: 260px;
}

/* @media (max-width: 1100px) {
  .rightcol__container {
    display: none;
} */