.rightcol__container {
  /* position: sticky;
  bottom: 0;
  margin-top: auto; */
  border: none;
  flex-shrink: 0;
  width: 310px;
  height: 1000px;
  margin-left: 30px;
  border: 2px solid black;
}

@media (max-width: 1030px) {
  .rightcol__container {
    width: 260px;
  }
}

@media (max-width: 990px) {
  .rightcol__container {
    display: none;
  }
}
