.navigation__container {
  border-color: rgba(210, 197, 197, 0.5);
}
/* nav .logo {
  width: 48px;
  height: 48px;
  fill: rgb(149, 0, 255);
} */

nav div.navlink {
  vertical-align: middle;
  padding: 5px;
}

nav div.navlink:hover {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  background-color: rgba(210, 197, 197, 0.5);
}

nav a.primary {
  display: flex;
  gap: 24px;
  align-items: center;
  color: #0F1419;
  font-family: Sans Serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 7px 0;
  margin: 8px 0;
}

/* nav a.primary:hover {
  display: inline-block;
  background-color: rgba(210, 197, 197, 0.5);
} */

nav a.primary .icon {
  fill: rgb(255, 255, 255, 0.5);
  width: 24px;
  height: 24px;
}

nav a.primary:hover .icon {
  fill: rgb(255, 255, 255, 1);
}

nav a.primary.active {
  color: #1DA1F2 !important;
  font-weight: 600;
}

nav a.primary.active svg {
  fill: rgb(149, 0, 255) !important;
}

nav button.post {
  display: block;
  background: rgba(149, 0, 255, 1);
  color: #fff;
  border: none;
  text-decoration: none;
  border-radius: 999px;
  width: 100%;
  font-size: 20px;
  padding: 16px 0px;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
}

.navipost__btn {
  padding-top: 10px;
  width: 70%;
  text-align: left;
}

.navipost__btn button {
  width: 86%;
  height: 49px;
  border-radius: 25px;
  background-color: rgb(80, 146, 238);
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.navipost__btn button:disabled {
  background-color: rgb(160, 193, 239);
  border: none;
  color: rgb(238, 232, 232);
}

.navipost__btn button:hover {
  border: none;
  background-color: rgb(53, 130, 239);
}
