/* .navlink {
    display: inline-block;
  }

.navlink:hover {
  display: inline-block;
  padding: 8px;
  overflow:auto;
  background-color: rgba(210, 197, 197, 0.5);
}

.navlink__span:hover {
  display: inline-block;
} */
