.postform__body {
  display: flex;
  border-top: 1px solid rgb(238, 232, 232);
  border-bottom: 1px solid rgb(238, 232, 232);
}

.postform__navlink {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 2px;
}

.postform__navlink img {
  border-radius: 50%;
}

form.post_form {
  padding-top: 23px;
  width: 85%;
}

form.post_form textarea::placeholder {
  font-size: 20px;
}

form.post_form textarea {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  outline: none;
  display: block;
  outline: none;
  resize: none;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(238, 232, 232);
  background: white;
  color: black;
}

.postform__accessroy-btn {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 15px;
  justify-content: space-between;
}

.postform__btn {
  padding-right: 10px;
}