.post__container {
  display: flex;
  border-top: 1px solid rgb(238, 232, 232);
  border-bottom: 1px solid rgb(238, 232, 232);
}

.post__avadar {
  padding-top: 16px;
  padding-left: 16px;
}

.post__avadar img {
  border-radius: 50%;
}

.post__body {
  padding-top: 16px;
  padding-right: 2px;
  width: 90%;
}

.post__profile {
  padding-left: 10px;
  padding-top: 5px;
}

.post__profile-username {
  display: inline;
}

.post__profile-username a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.post__profile-info {
  display: inline;
  padding-left: 5px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  color: grey;
}

.post__content {
  padding-left: 10px;
  padding-top: 5px;
  width: 90%;
}

.post__content-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  color: black;
}

.post__accessory {
  padding-left: 10px;
  padding-top: 5px;
  width: 90%;
}

.post__btn {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
  text-align: right;
}
